.topCardsClass {
	position: relative;
	display: inline;
}

.topCardsClass img {
	position: relative;
	display: inline;
	padding: 5px;
  	height: 5em;
  	width: auto;
  	margin-top: 10px;
}

.topCardsClass span {
	position: absolute;
	top: 50%;
	left: 43%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 2px solid purple;
    font-size: x-large;
}

#yourCards {
	margin-left: 3.6em;
	margin-top: 2em;
}

#yourCards img {
	position: static;
	padding: 5px;
	height: 6em;
	width: 3.92em;
	border-style: solid;
}

.buttons {
	margin-top: 5px;
}

#add {
	font-size: x-large;
    margin-left: 5.5em;
}

#newGame {
	font-size: large;
	margin-left: 2em;
}

#equity {
	font-size: xx-large;
	margin-left: 4.3em;
	margin-top: 30px;
}


